body {
  font-family: 'Open Sans', sans-serif;
  background-color: #CFE9F3;
}

#factor {
  font-size: 30px;
  /* display: inline-block; */
  vertical-align: top;
}

#logo {
  height: 40px;
  width: 40px;
  padding-bottom: 10px;
}

button {
  font-family: inherit;
  font-size: 1em;
  background-color: #8f8888;
}

button:hover {
  background-color: white;
  cursor: pointer;
}

#packages-container {
  padding-left: 30%;
}

#packages {
  padding-bottom: 10px;
  width: 50%
}
#create-package {
  padding-left: 20%;
}

#form-container {
  margin: 50px;
}

#package-view-container{
  margin: 50px;
}

input[type="text"] {
  font-family: 'Open Sans', sans-serif;
}

input[type="date"] {
  font-family: 'Open Sans', sans-serif;
}
#quantities-options {
  text-align:center;
 }

#quantities-options input{
  margin: 0px 0px 0px 0px;
 }

 #quantities-options label{
   margin: 0px 20px 0px 3px;
 }

 /* textarea {
  resize: none;
} */

li {
  font-size: 12px;
  list-style-type: square;
}

textarea {
  width: 100%;
}

#package-name {
  width: 100%;
}

input[type=submit] {
  font-family: inherit;
  font-size: 1em;
  background-color: #8f8888;
}

input[type=submit]:hover {
  background-color: rgb(211, 212, 211);
}

#packages-list {
  font-size: 14px;
  border: black 5px solid;
  width: 50%
}

.individual-package {
  cursor: pointer;
}

#date-added {
  text-align: right;
}
#due-date-view {
  text-align: right;
}
.package-view-name {
  font-weight: 900;
  font-size: 30px;
  float: left;
}

#dates {
  float: right;
}
.individual-package {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 2px black solid;
  width: 98%
}

#create-package {
  float: right;
}

.header-view {
  padding-bottom: 50px;
}

#button-add-package {
  float: right;
  font-size: 28px;
}