body {
  font-family: 'Open Sans', sans-serif;
  background-color: #CFE9F3;
}

#factor {
  font-size: 30px;
  /* display: inline-block; */
  vertical-align: top;
}

#logo {
  height: 40px;
  width: 40px;
  padding-bottom: 10px;
}

button {
  font-family: inherit;
  font-size: 1em;
  background-color: #8f8888;
}

button:hover {
  background-color: white;
  cursor: pointer;
}

#packages-container {
  padding-left: 30%;
}
#create-package {
  padding-left: 30%;
}

#form-container {
  margin: 50px;
}

input[type="text"] {
  font-family: 'Open Sans', sans-serif;
}

input[type="date"] {
  font-family: 'Open Sans', sans-serif;
}
#quantities-options {
  text-align:center;
 }

#quantities-options input{
  margin: 0px 0px 0px 0px;
 }

 #quantities-options label{
   margin: 0px 20px 0px 3px;
 }

 /* textarea {
  resize: none;
} */

li {
  font-size: 8px;
}

textarea {
  width: 100%;
}

#package-name {
  width: 100%;
}

input[type=submit] {
  font-family: inherit;
  font-size: 1em;
  background-color: #8f8888;
}

input[type=submit]:hover {
  background-color: rgb(211, 212, 211);
}

#packages-list {
  font-size: 14px;
}

.individual-package {
  cursor: pointer;
}
